obj/
obj/Debug/net7.0/CS251_A3_ToffeeShop.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/CS251_A3_ToffeeShop.assets.cache
.vscode/
bin/
bin/Debug/net7.0/CS251_A3_ToffeeShop.dll
bin/Debug/net7.0/CS251_A3_ToffeeShop.pdb
obj/CS251_A3_ToffeeShop.csproj.nuget.dgspec.json
obj/CS251_A3_ToffeeShop.csproj.nuget.g.props
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/CS251_A3_ToffeeShop.assets.cache
obj/Debug/net7.0/CS251_A3_ToffeeShop.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/CS251_A3_ToffeeShop.dll
obj/Debug/net7.0/CS251_A3_ToffeeShop.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net7.0/CS251_A3_ToffeeShop.exe
obj/Debug/net7.0/CS251_A3_ToffeeShop.genruntimeconfig.cache
obj/Debug/net7.0/CS251_A3_ToffeeShop.pdb
obj/Debug/net7.0/ref/CS251_A3_ToffeeShop.dll
obj/Debug/net7.0/refint/CS251_A3_ToffeeShop.dll
obj/project.assets.json
obj/project.nuget.cache
bin/Debug/net7.0/CS251_A3_ToffeeShop.exe
